@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200..400&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #111;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.07) 2px,
            transparent 2px
        ),
        linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
        linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

    color: rgba(255, 255, 255, 0.5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Montserrat;
    line-height: 1.7;
}

#siteHeader {
    position: sticky;
    z-index: 1;
    top: calc(var(--siteTopbar-height) * -1);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: grayscale(1);
    box-shadow: inset 0 -1px rgba(255, 0, 0, 0.5);
}

#siteTopbar,
#siteNavbar,
#siteFooter {
    border: 1px solid red;
    padding: 20px;
}

main {
    padding-top: var(--siteHeader-height);
}

section {
    --debug-width: 1px;
    --debug-style: dotted;
    --debug-color: rgba(255, 0, 0, 0.5);
    border-top: var(--debug-width) var(--debug-style) var(--debug-color);
    border-bottom: var(--debug-width) var(--debug-style) var(--debug-color);
}

section:not(:last-of-type) {
    margin-bottom: 20vh;
}

.container {
    margin-inline-start: auto;
    margin-inline-end: auto;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    max-width: 900px;
}

.columns-2 {
    columns: 2;
    gap: 3rem;
}

.h-screen {
    height: calc(100vh - var(--siteHeader-height));
}

.parallax__wrapper {
    overflow: hidden;
    border-radius: 0.5rem;
}

.parallax__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transform: scale(130%);
}

.box {
    height: 16vw;
    width: 16vw;
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    margin: 0 0 0.4em;
    line-height: 1.1;
}

p {
    margin: 0;
}
